@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Press Start 2P';
  margin-top: 50px;
}

.nav a li {
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  font-family: Acme;
  color: white;
}

.nav ul {
  background-color: #333;
  margin-bottom: 0px;
}

.bg {
  position: relative;
  background-image: url("../images/desert.png");
  height: 70vh;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.tank {
  position: absolute;
  bottom: -90px;
  left: 30px;
}

.main {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

ul {
  list-style: none;
}

.characterMenu {
  padding-top:150px;
  height: 600px;
  width: 600px;
  margin: 20px auto;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  font-family: Acme;
}

.characterMenu li a {
  display: block;
  width: 300px;
  height: 97px;
  padding: 0px 10px;
  text-align: right;
  position: relative;
  z-index: 10;
  border-right: 1px solid black;
  text-decoration: none;
  color: red;
}

.characterMenu img {
  width: 500px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0;
  transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

.characterMenu li:hover a {
  background: rgba(255,239,240,0.4);
}

.characterMenu li:hover img {
  left: 300px;
  opacity: 1;
}

.mage {
  padding-bottom: 100px;
}

.road {
  border-bottom: 7px dashed black;
}

.jack {
  height: 130px;
  width: 125px;
  background: url("../images/Jack.png");
  animation: play 1s steps(8) infinite, forward 8s linear infinite;
}

@keyframes play {
  100% {
    background-position: -1000px;
  }
}

@keyframes forward {
  0% {
    transform:translateX(-100px);
  }
  100% {
    transform: translateX(1900px);
  }
}

.contactBody {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70vh;
  font-family: Acme;
}

.cardBox {
  perspective: 500px;
  margin: 15px;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transition: .5s ease;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.facebook {
  background: #3b5998;
}

.phone {
  background: red;
}

.email {
  background: green;
}

.card-front, .card-back {
  position: absolute;
  color: white;
  display: flex;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;

}

.card-front {
  font-size: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.card-back {
  font-size: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

footer {
  background-color: #333;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;

}
